<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:fragment="layout(content)">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}"></title>
    <link rel="icon" type="image/x-icon" th:href="@{/image/img.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/e0275a7647.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script th:src="@{/js/index.js}"></script>
    <script src="https://cdn.tiny.cloud/1/495o12iffmv0zy8o38q3bwtfuok6su1u8qjul4t2yacvps2u/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <!-- Place the following <script> and <textarea> tags your HTML's <body> -->
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>
</head>
<body class="bg-image text-color1">

<!--navbar start-->
<nav class="navbar fixed-top navbar-expand-lg shadow-sm bg-warning">
    <div class="container-fluid">
        <a class="text-dark navbar-brand px-md-3" href="#"><i class="bi bi-person-workspace pe-2"></i>TheHuddle</a>
        <button onclick="toggleSidebar()" class="btn btn-white border-none btn-navbar" style="border:none;">
            <!--            <span class="navbar-toggler-icon"></span>-->
            <i style="font-size: 1.2rem;" class="bi bi-list text-dark"></i>
        </button>
    </div>
</nav>
<!--navbar end-->

<!--sidebar start-->
<div class="sidebar mt-2 shadow-sm">
    <!--    <span onclick="toggleSidebar()" class="cross-btn">&times;</span>-->
    <a href="#"  class="h6 item ">WELCOME, <span
            th:text="${#strings.toUpperCase(user.userName)}"></span>
    </a>
    <div class="divider"></div>
    <a href="" ><i class="bi bi-person-circle pe-2"></i>My Profile</a>
    <a th:href="@{/user/user_dashboard}" class="item"><i class="bi bi-house-fill pe-2"></i>Home</a>
    <a th:href="@{/user/view_contact}" class="item"><i class="bi bi-person-lines-fill pe-2"></i>View Contacts</a>
    <a th:href="@{/user/add_contact}" class="item"><i class="bi bi-person-rolodex pe-2"></i>New Contact</a>
    <a href="" class="item"><i class="bi bi-gear-fill pe-2"></i>Settings</a>
    <a th:href="@{/logout}" class="item"><i class="bi bi-arrow-left pe-2"></i>Logout</a>
    <div class="divider"></div>
</div>
<!--sidebar end-->

<!--content start-->
<div class="content">
    <!--    <i onclick="toggleSidebar()" class="bi bi-list m-3"></i>-->
    <div th:replace="${content}">
    </div>
</div>

<!--content-end-->
</body>
</html>
